<!-- <p>{{recipeItem.name}}</p> -->
<div class="row">
    
  <div class="col-md-8 mt-2">
      <div class="row">
          <div class="col-md-6">
              <img [src]="recipeItem.image" alt="" style="width:33vw;">
          </div>
          <div class="col-md-6">
              <h2 class="mt-2" style="text-align:center"><b>{{recipeItem.name}}</b></h2>
              <div class="row" *ngIf="recipeItem.name == 'Chicken Briyani' || recipeItem.name == 'Mutton Briyani'">
                  <p>{{processList.process1Step1}}</p>
              </div>
              <div class="row" *ngIf="recipeItem.name == 'Butter Naan'">
                  <p>{{processList.process2Step1}}</p>
              </div>
              <div class="row" *ngIf="recipeItem.name == 'Chilly Chicken'">
                  <p>{{processList.process3Step1}}</p>
              </div> 
              <div class="row" *ngIf="recipeItem.name == 'Tandoori'">
                  <p>{{processList.process4Step1}}</p><br>
                  <p>{{processList.process4Step2}}</p>
              </div>
              <div class="row" *ngIf="recipeItem.name == 'Lemon Mint'">
                  <p>{{processList.process5Step1}}</p><br>
                  <p>{{processList.process5Step2}}</p>
              </div>       
              
          </div>
          <div class="row m-4" *ngIf="recipeItem.name == 'Chicken Briyani' || recipeItem.name == 'Mutton Briyani'">
              <p>Step 2 Saute the onions<br>&nbsp;&nbsp;Meanwhile, heat refined oil in a deep bottomed pan. Once the oil is hot enough, add cumin seeds, bay leaf, green cardamom, black cardamom, cloves in it, and saute for about a minute. Then, add chopped onion to it and saute until pink. Now, add chicken into it with slit green chillies, turmeric, salt to taste, ginger garlic paste, red chilli powder and green chilli paste. Mix well all the spices and cook for 2-3 minutes. Then, add hung curd into it and give a mix. (Make sure the chicken is washed properly and patted dry before adding it to the dish)</p>
              <p>Step 3 Cook biryani on low heat for 5-6 minutes<br>&nbsp;&nbsp;Turn the flame to medium again and add garam masala in it along with ginger julienned, coriander and mint leaves. Add kewra water, rose water and saffron water in it. Cook till the chicken is tender. Then add 1 cup cooked rice and spread evenly. Then add saffron water and pour ghee over it. You can now cook the dish without the lid or cover it with a lid to give a dum-effect due to the steam formation.</p>
              <p>Step 4 Serve hot chicken biryani with your favourite chutney or raita<br>&nbsp;&nbsp;Cook for 15-20 minutes with a closed lid and garnish with 1 tbsp fried onions and coriander leaves. Serve hot chicken biryani with raita of your choice. Enjoy!</p>
          </div>
          <div class="row m-4" *ngIf="recipeItem.name == 'Butter Naan'">
              <p>{{processList.process2Step2}}</p>
              <p>{{processList.process2Step3}}</p>
              <p>{{processList.process2Step4}}</p>
          </div>
          <div class="row m-4" *ngIf="recipeItem.name == 'Chilly Chicken'">
              <p>{{processList.process3Step2}}</p>
              <p>{{processList.process3Step3}}</p>
              <p>{{processList.process3Step4}}</p>
          </div>
          <div class="row m-4" *ngIf="recipeItem.name == 'Tandoori'">
              <p>{{processList.process4Step2}}</p>
              <p>{{processList.process4Step3}}</p>
              <p>{{processList.process4Step4}}</p>
          </div>
          <div class="row m-4" *ngIf="recipeItem.name == 'Lemon Mint'">
              <p>{{processList.process5Step2}}</p>
              <p>{{processList.process5Step3}}</p>
              <p>{{processList.process5Step4}}</p>
          </div>
      </div>
  
  </div>

  <div class="col-md-4">
      <div class="row">
          <button class="btn btn-primary m-3 float-right" style="width:10vw;" (click)="onClickHome()">Home</button>
        </div>
      <div class="row">
          <h4 class="mt-2" style="text-align:center"><b>Ingredients</b></h4>
      </div>
      <div class="row m-2">
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ingredient</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
          <tbody *ngIf="recipeItem.name == 'Chicken Briyani'">
              <tr *ngFor="let data of ingredientList;let i = index" >
  
              <td>{{i+1}}</td>
              <td>{{data?.name}}</td>
              <td>{{data?.quantity}}</td>
              </tr>       
          </tbody>
          <tbody *ngIf="recipeItem.name == 'Butter Naan'">
              <tr *ngFor="let data of ingredientNanList;let i = index" >
  
                  <td>{{i+1}}</td>
                  <td>{{data?.name}}</td>
                  <td>{{data?.quantity}}</td>
              </tr>    
          </tbody>
          <tbody *ngIf="recipeItem.name == 'Mutton Briyani'">
              <tr *ngFor="let data of ingredientMuttonList;let i = index" >
  
                  <td>{{i+1}}</td>
                  <td>{{data?.name}}</td>
                  <td>{{data?.quantity}}</td>
              </tr>    
          </tbody>
          <tbody *ngIf="recipeItem.name == 'Chilly Chicken'">
              <tr *ngFor="let data of ingredientChilliChickenList;let i = index" >
                  <td>{{i+1}}</td>
                  <td>{{data?.name}}</td>
                  <td>{{data?.quantity}}</td>
              </tr>    
          </tbody>
          <tbody *ngIf="recipeItem.name == 'Tandoori'">
              <tr *ngFor="let data of ingredientTandooriList;let i = index" >
                  <td>{{i+1}}</td>
                  <td input type="text">{{data?.name}}</td>
                  <td> {{data?.quantity}}</td>
                  <td> <button (click) = "deleteRow(i)"><i class="fa fa-trash"></i></button></td>
              </tr>    
          </tbody>
          <tbody *ngIf="recipeItem.name == 'Lemon Mint'">
              <tr *ngFor="let data of ingredientLemonMintList;let i = index" >
  
                  <td>{{i+1}}</td>
                  <td>{{data?.name}}</td>
                  <td>{{data?.quantity}}</td>
                  
              </tr>    
          </tbody>
      </table>
      </div>
      </div>
  </div>

  </div>

  <button class="btn btn-secondary float-right" (click)="addTable()">Add Recipe</button>